.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 auto;
}

.home-container h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.search-container input {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

.feed-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

li {
  list-style: none;
}
