.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 86.5%;
  border: 1px solid blue;
}

.home-container h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.search-container input {
  padding: 0.5em;
  text-align: center;
}

.feed-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 12px;
}

li {
  list-style: none;
}
