.home-container {
  flex-direction: column;
  border: 1px solid #00ff33;
  width: 85.9%;
}

.home-container h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.search-container input {
  padding: 0.5em;
  text-align: center;
}

.feed-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
}

li {
  list-style: none;
}
