.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  /* background-color: #f2e7ca; */
  background-image: url("./assets/moments_bg_3.png");
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 179px;
  scroll-behavior: smooth;
  border: 1px dotted red;
}

@media (width < 920px) {
  .app-container {
    transition: left 0.4s;
    left: 51px;
  }
}

@media (width > 397px) {
  .app-container {
    transition: padding 0.4s;
  }
}

@media (width < 397px) {
  .app-container {
    transition: padding 0.4s;
    padding-top: 40px;
    left: unset;
  }
}
