.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  transition: all 0.4s;
  /* background-color: #f2e7ca; */
  background: url("./assets/moments_bg_3.png");
  position: absolute;
  top: 0;
  scroll-behavior: smooth;
}

@media (width < 920px) {
  .app-container {
    transition: margin 0.4s;
    margin-left: 51px;
  }
}

@media (width > 397px) {
  .app-container {
    transition: padding 0.4s;
  }
}

@media (width < 397px) {
  .app-container {
    transition: padding 0.4s;
    padding-top: 40px;
    margin-left: unset;
  }
}
