.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  margin-left: 180px;
  transition: all 0.4s;
  background-color: #f2e7ca;
  position: relative;
  margin-top: -355px;
  overflow-y: hidden;
}

@media (width < 920px) {
  .container {
    transition: margin 0.4s;
    margin-left: 71px;
  }
}

@media (width > 397px) {
  .container {
    transition: padding 0.4s;
  }
}

@media (width < 397px) {
  .container {
    transition: padding 0.4s;
    padding-top: 40px;
    margin-left: unset;
  }
}
